<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>

    <nav class = 'navbar'>
        <ul>
            <li><a href="/Profile">Profile</a></li>
            <li><a href="/Uppercase">toUpperCase</a></li>
            <li><a href="/Area_of_a_Circle">Area of a Circle</a></li>
            <li><a href="/Area_of_a_Triangle">Area of a Triangle</a></li>
    </ul>
    </nav>
    <div class="content">
        <h1>Welcome to my Website</h1>
        <h2>Hi! I'm Adrian future <span>Computer Engineer</span></h2>
        <p>
            This website contains my profile that includes my contact and work as well as my programming works<br>
            that includes string converter to uppercase, area of a circle,<br>
            and area of a triangle.
        </p>
    </div>
</body>
</html>

