<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styleprofile.css')}}">
        <title>My Profile</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <main>
                <div class="card">
                        <div class="myprof">
                        <h1>My Profile</h1>
                        </div>
                        <img src="{{ url_for('static', filename='piksyur.jpg') }}" alt="Profile Picture">
                        <div class="profileinfo">
                                <h1>Villocero, Van Adrian S.</h1>
                                <h3 style="font-weight: 450; font-size: 15px"> 19 Years Old</h3>
                                <h3 style="font-weight: 450; font-size: 15px">2nd Year, Bachelor of Science in Computer Engineering 2-6 </h3>
                                <h3 style="font-weight: 450; font-size: 15px">DATA STRUCTURE AND ALGORITHMS</h3>
                                <h3 style="font-weight: 450; font-size: 15px">My Motto is always be grateful</h3>
                        </div>
                        <div class="cardbody">
                                <div class="contact">
                                        <h3>Contact</h3>
                                        <ul>
                                                <p>Adress:</p>
                                                <li>Blk 9c Lot 30 Phase 2 Area 3 <br> Brgy. Longos Malabon City</li>
                                                <p>Phone Number:</p>
                                                <li>09101985640</li>
                                                <p>Email:</p>
                                                <li>villoceroadrian <br> @gmail.com</li>
                                        </ul>
                                </div>
                                <div class="line"></div>
                                <div class="works">
                                        <h3>Works</h3>
                                        <ul>
                                                <p>Company:</p>
                                                <p>Type of Job:</p>
                                                <li>I'm a student</li>
                                        </ul>
                                </div>
                        </div>
                        <div class="socmed">
                                <a href="https://www.facebook.com/adrian.villocero.5" target="_self" title="View Facebook">
                                <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/hey.driannn/" target="_self" title="View Instagram">
                                <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_self" title="Click to Send Email">
                                <i class="fa-solid fa-envelope"></i>
                                </a>
                        
                        </div>
                </div>
        </main>

        
</body>
</html>